In [1]:
import mintapi
import pandas as pd
import gspread
from df2gspread import df2gspread as d2g
from oauth2client.service_account import ServiceAccountCredentials
from config import username, password

In [2]:
mint = mintapi.Mint(
    username,  # Email used to log in to Mint
    password,  # Your password used to log in to mint
    mfa_method='sms',
)

In [3]:
transactions = mint.get_transactions(include_investment=True)
transactions.head()

,date,description,original_description,amount,transaction_type,category,account_name,labels,notes
0,2022-04-26,Tax-Loss Harvesting,Tax-Loss Harvesting,0.68,credit,investments,My Personal Investment Account,NaN,NaN
1,2022-04-25,ATHENE LIFE POL PREM 2301610776 MIKAELA KLEIN,ATHENE LIFE POL PREM 2301610776 ...,29.24,debit,life insurance,MIKAELA NEW CHK,NaN,NaN
2,2022-04-25,Dish N Dash,Dish n dash,20.00,credit,restaurants,Venmo,NaN,NaN
3,2022-04-25,Groceries Whole Foods,Groceries Whole Foods & Mexican market,50.73,credit,groceries,Venmo,NaN,NaN
4,2022-04-25,Tax-Loss Harvesting,Tax-Loss Harvesting,5.47,credit,investments,My Personal Investment Account,NaN,NaN

In [4]:
scope = ['https://spreadsheets.google.com/feeds']
creds = ServiceAccountCredentials.from_json_keyfile_name('mint-348223-39d16dcaec97.json', scope)
client = gspread.authorize(creds)

In [5]:
# Send the data to google sheets
spreadsheet_key = "19GLQzbk8FN3hI4YQpx2bVElgmBdhMqhgoPhKBfDDNg4"
d2g.upload(transactions,spreadsheet_key,"RAW_DATA",credentials=creds,row_names=True)

In [11]:
mint.close()